@import "../../base.scss";

.index_container {
  @include flex-column;
  width: 100%;
  .search {
    @include inputView
  }
  .banner {
    /* prettier-ignore */
    height: 160PX;
    width: 97%;
  }
  .line_between {
    width: 100%;
    border: none;
    /* prettier-ignore */
    border-bottom: 0.5PX solid #ebe5e5;
    /* prettier-ignore */
    margin-bottom: 10PX;
  }
  .daily_list {
    /* prettier-ignore */
    height: 55PX;
    @include flex-row;
    width: 80%;

    /* prettier-ignore */
    margin: 15PX auto;
    /* prettier-ignore */
    .iconfont {
      /* prettier-ignore */
      font-size:30PX;
      color: $primary-color;
      /* prettier-ignore */
      @include flex-column;
      align-items: center;
    }
    .icon_text {
      color: $text-color;
      /* prettier-ignore */
      font-size: 15PX;
      position: relative;
      /* prettier-ignore */
    }
  }
  .recommend_playlist {
    @include flex-column;
    width: 94%;
    margin: 0 auto;
    .recommend_playlist_title {
      color: $text-color;
      /* prettier-ignore */
      position:relative;
      /* prettier-ignore */
      left: -140PX;
    }
    .recommend_playlist_content {
      @include flex-row;
    }
  }
  .switch-tab {
    @include flex-row;
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    /* prettier-ignore */
    height:40PX;
    .tab {
      width: 50%;
      background: $primary-color;
      ::after {
        /* prettier-ignore */
        border-radius: 0PX;
        border: none;
        border-right: 0.5px solid #ebe5e5;
      }
      .tab-button {
        color: $text-color;
        border: none;
        /* prettier-ignore */
        border-radius: 0PX;
      }
    }
  }
}
