$primary-color: #C01D19;
$text-color: #201f1f;
$background-color: #f0f0f0;

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
